// -----------------------------------------------------------------------------
// Aside section
// -----------------------------------------------------------------------------


.aside {
	background-color: $lightgreen;
	@include md {
		display: flex;
		flex-direction: column;
	}
}


/**
 * Elemento común para la creación de playlist de la sección aside.
 */

.playlist {
    border-radius: 3px;
    padding: 15px;
	
	@include md {
		padding: 0 5px 0 0;
		margin: 0px 10px 15px 15px;
		flex: 1;
		overflow-y: auto;
		padding-top: 0;
	}
	
	.playlist__item{
		
		&:first-child { 
			margin-top: 0; 
		} 
		&:last-child { 
			margin-bottom: 0;
		} 
	}
}

.playlist-header { 
	padding: 15px; 
	
	.pl-title {
		@include font-size(24px);
		font-weight: 700;
		margin-bottom: 10px;
	}
}

.playlist-create {
    display: flex;
    margin-top: 15px;
    
    &__btn {
    	margin-left: 15px;
        &:disabled {
            opacity:.5;
            &:hover {
                cursor: default
            }
        }
    }
}	

	




