.aside {
	background-color:$lightgreen;
	
	@include md {
		display:flex;
		flex-direction:column;
	}
	
}

/* Playlist /*/
.playlist-header { 
	padding:15px;
	
	.pl-title {
		@include font-size(24px);
		font-weight:700;
		margin-bottom:10px;
	}
}
	
.playlist-create {
    display:flex;
    margin-top:15px;
    
    
    
    &__btn {
    	margin-left:15px;
        &:disabled {
            opacity:.5;
            &:hover {
                cursor:default
            }
        }
    }
}	

.playlist {
	padding:15px;
	// background: #30333b;
    border-radius: 3px;
    
	
	@include md {
		margin:15px 15px 30px 15px;
		flex:1;
		overflow-y:auto;
	}
	.playlist__item:last-child { 
		margin-bottom:0;
		padding-bottom:0;
	} 
}




