// -----------------------------------------------------------------------------
// Grid system
// -----------------------------------------------------------------------------


/**
 * Sistema de grid general de la aplicación, para ello usando grid layout,
 * modificando el numero de columnas/filas dependiendo de la resolución del
 * dispositivo
 */


.page-wrap {
	background-color:$lightGray;
	transition:0.2s ease all;
	
	display:grid;
	min-height: 100vh;
	grid-template-columns:1fr 1fr;
	grid-template-rows: 55px
						38px
	    				120px
						1fr;
	@include md {
		grid-template-columns: 75px 1fr;
		grid-template-rows: 70px
							1fr;
	}
	
	&--without-subheader {
		grid-template-rows: 55px
						38px
	    				0px
						1fr;
		@include md {
			grid-template-rows: 70px
								1fr;
		}	
	}
	
	&.off {
		margin-left:230px;
		margin-right:-230px;
		@include md {
			margin-left:0;
			margin-right:0;
		}
	}
}

.header {
	grid-row:1 / span 1;
	grid-column: 1 / span 2;
	@include md {
		grid-column: 1 / span 1;
		grid-row:1 / span 3;
	}
}

.main-tabs__label--search {
	grid-row:2 / span 1;
	grid-column: 1 / span 1;
}

.main-tabs__input--list {
	grid-row:2 / span 1;
	grid-column: 2 / span 1;
}


.subheader {
	display:none;
	grid-row:3 / span 1;
	grid-column: 1 / span 2;
	@include md {
		grid-column: 2 / span 1;
		grid-row:1 / span 1;
	}
}

.main {
	
	grid-row:4 / span 1;
	grid-column: 1 / span 2;
	
	@include md {
		grid-column: 2 / span 2;
		grid-row:2 / span 1;
		display:flex;
		flex-direction:column;
	}
	@include lg {
		flex-direction:row;
	}
}

.content {
	display:none;
	position:relative;
	
	
	@include md {
		padding-bottom:0;
		display: flex;
		flex-direction:column;
		flex:1;
	}
	
	@include lg {
		min-height: 100%;
		height:100%;
		flex:1 0 65%;
		height:calc(100vh - 70px); 
		overflow-x:hidden;
		overflow-y:auto; 
	}
}

.aside {
	display:none;
	@include md {
		display:block;
	}
	@include lg {
		flex:1 0 35%;
		height:100%;
		height:calc(100vh - 70px); 
		overflow-x:hidden;
		overflow-y:auto;
	}
}

footer {
	background-color:$gray;
	grid-row:4 / span 1;
	grid-column: 1 / span 2;
	
	@include md {
		grid-column: 1 / span 2;
		grid-row: 3 / span 1;
	}
}


