// -----------------------------------------------------------------------------
// Header section
// -----------------------------------------------------------------------------


 .header {
	background-image:url("/dist/images/shattered-island.gif");
	background-repeat:repeat;
	position:relative;
}

.subheader {
	background-color:white;
	@include md {
		background-image:url("/dist/images/shattered-island.gif");
		background-repeat:repeat;
	}
	
	.c-button, .c-input input {
		//Fix for iphone
    	height:40px;
    	overflow:hidden;
	}
	
}

.header__logo {
	text-align:center;
	padding:10px;
	
	
	@include md {
		background-color:$spotyBlack;
		height:70px;
		display: flex;
        align-items: center;
        justify-content: center;
	}
	
	.app-logo {
		@include md {
			display:none;
		}
	}
	
	.fa-headphones{
		color:white;
		display: none;
		@include md {
			display:block;
			@include font-size(40px)
		}
	}
}

.app-logo {
	font-family: 'Contrail One', cursive;
	font-weight: normal;
	@include font-size(30px);
	line-height: 1.2;
	color:white;
	text-shadow: 1px 1px 15px rgba(0,0,0, .6);
    letter-spacing: -.5px;
	
}


.subheader {
	padding:15px;
    justify-content: center;
    flex-wrap: wrap;
    
	@include md {
		justify-content: flex-start;
	}
	
	.c-input {
		flex-grow: 1;
    	flex-basis: 0;
    	
		@include md {
			margin-right:10px;
			order:0;
			flex-basis:35%;
			flex-grow: 0;
		}
		@include lg {
			flex-basis:30%;
		}
	}
	.c-combo-box {
		margin-bottom:12px;
		@include md {
			margin-bottom:0;
			order:1;
			flex-basis:15%;
		}
		@include lg {
			flex-basis:10%;
			
		}
	}
	.c-button {
		margin-left:10px; 
		@include md {
			order:2;
		}
	}
	
	.app-logo {
		display:none;
		@include md {
		    order: 3;
		    display: block;
			margin: 0;
			line-height: 1.4;
			margin-left: auto;
			padding-right:15px;
		}
	}
}

