.results {
	
	flex-grow:1;
	padding:15px;
	
	display:grid;
	grid-template-columns:repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-gap:15px;
	
	@include md {
			grid-template-columns:repeat(4, 1fr);
	}
	@include xl {
			grid-template-columns:repeat(5, 1fr);
	}
	

} 

.add-more-wrap {
	
	padding:10px;
	width:100%;
	text-align:center;
	bottom:0;
	position:-webkit-sticky;
	position:sticky;
	
	padding:15px;
	background-color:#e0e0e080;
	
	@include md {
		
		text-align:right;
		
	}
}



// sistema de tabs
.main-tabs__label {
	display:inline-block;
	text-align:center;
	padding:10px;
	color:white;
	background-color:$darkGray;
	text-decoration:none;
	transition: all .3s ease-in;
	font-size:16px;
	font-weight:700;
	cursor:pointer;
	position:-webkit-sticky;
	position:sticky;
	top:0;
	z-index:1;
	
	@include md {
		display:none;
	}

	&:hover {
		background-color:$spotyGreen;
	}

}

.main-tabs__input:checked + label {
	background-color:$spotyGreen;
}

.main-tabs__input {
	display:none;
}

.main-tabs__input--search:checked ~ .subheader {
  	display: flex;
}

.main-tabs__input--search:checked ~ .main .content { 
  	display: block;
  	@include md {
		display: flex;
	}
}

.main-tabs__input--list:checked ~ .main { 
  grid-row:3 / span 2;
}

.main-tabs__input--list:checked ~ .main .aside{ 
  display: block;
}


