// -----------------------------------------------------------------------------
// Button component
// -----------------------------------------------------------------------------

.c-button {
    background:$spotyGreen;
    color:white;
    font-weight:700;
    padding:10px 20px;
    border-radius:3px;
    @include font-size(16px)
    transition:0.2s ease all;
    cursor:pointer;
    display:inline-block;
    
    &:hover {
        background:$mateGreen;
    }
    
    &--xl {
        @include font-size(20px);
        padding: 15px 25px;
        border-radius:4px;
    }
    
    &--red {
        background:$red;
        &:hover {
            background:$darkRed;
        }
    }
    
    &.disabled {
        opacity:.5;
        pointer-events:none;
    }
}  