// -----------------------------------------------------------------------------
// Item playlist component
// -----------------------------------------------------------------------------

/**
 * Elemento para el listado de items de una playlist.
 */

.playlist__item {
	display: grid;
    grid-gap: 10px;
    grid-template-columns: 50px 1fr 20px 20px;
    padding: 10px;
    margin: 5px 0;
    background: #f7fafb;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease all;
	
	&:hover, &.playing {
		background-color: $yellow;
		
		.playlist__item__buttons .fa-play {
			opacity: 1;
		}
	}
	
	&__image  {
		img {
			width: 100%;
			border-radius: 4px;
		}
	}
	&__title {
		display: flex;
        flex-direction: column;
        justify-content: center;
        pointer-events: none;
        
		.name {
			@include font-size(14px)
			font-weight: 700;
			padding-bottom: 0;
			margin: 0;
		}
		.album {
			@include font-size(14px);
			margin-bottom: 0;
		}
	}

	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		
		&.play-pause {
			pointer-events: none;
		}
		
		button {
			transition: 0.2s ease all;
			width: 100%;
			height: 100%;
		}
		
		.fa {
			transition: 0.2s ease all;
			@include font-size(16px)
			
			&.fa-pause, &.fa-play {
                opacity:1;
            }
            
			&.fa-play {
                @include lg {
                    opacity: 0;
                }
            }
            
			
            
            &.fa-trash-o {
            	@include font-size(19px)
            	pointer-events: none;
            	&:hover {
					color: $spotyGreen;
				}
            }
		}
	} 
}