// -----------------------------------------------------------------------------
// Sass Variables
// -----------------------------------------------------------------------------


/**
 * Variables for media query mixin
**/

$screen-sm-min: 541px;
$screen-md-min: 768px;
$screen-lg-min: 1024px;
$screen-xl-min: 1280px;


/**
 * Colors
**/

$lightGray:#F2F4F8;
$gray:#5A6A7A;
$darkGray:#181F24;

$lightgreen:#E0EAEC;
$spotyGreen:#1db954;
$mateGreen:#218e47;

$spotyBlack:#191414;

$red:#e74c3c;
$darkRed:#c0392b;
