extends layout

block content  
    div.page-wrap.search-page#pageWrap
        
        header.header
            div.canvas-mask#mask
            a(id="toggleNav" class="toggle-nav" href="#")
                i(class="fa fa-bars" aria-hidden="true")
                
                
            div.header__logo
                i(class="fa fa-headphones" aria-hidden="true")
                h2.app-logo Spotylist
            
            nav
                a(id="closeNav" class="close-nav" href="#")
                    i(class="fa fa-times" aria-hidden="true")
                    
                ul.header__nav#primaryNav
                    li
                        a( href="create" class="active") 
                            i(class="fa fa-superpowers" aria-hidden="true")
                            | Create 
                            span Playlist 
                    li    
                        a( href="mix")
                            i(class="fa fa-trello" aria-hidden="true")
                            | Mix 
                            span Playlists
        
        input(id="tab1" type="radio" name="tabs" checked class="main-tabs__input main-tabs__input--search")
        label(for="tab1" class="main-tabs__label") Search
        
        input(id="tab2" type="radio" name="tabs" class="main-tabs__input main-tabs__input--list")
        label(for="tab2" class="main-tabs__label") Playlist
            
        
        section.subheader
            select.c-combo-box#searchType
                option(data-id="artist") Artist
                option(data-id="track") Track
                option(data-id="top-tracks") Top 10 tracks
            
            div.c-input
                input(type="text" required id="searchField")
                span.bar
                label Search Tracks
                
            a(class="c-button" href="#" id="searchButton")
                i(class="fa fa-search" aria-hidden="true")

            h2.app-logo Spotylist
            
            
        main.main#mainApp
            
            section.content
                
                ul.results#searchResults
                div.loader-content#ajax-loader
                    div.spinner
                    
                
                div.add-more-wrap.hide#addMoreWrap
                    a(class="c-button" id="addMoreButton") Show more
                    
            
            aside.aside       
                
                div.playlist-header
                    h2.pl-title Create your playlist
                    p.pl-description Add tracks to your new playlist and export it to your profile!! 
              
                    div.playlist-create
                        div.c-input.playlistCreate__input-name
                            input(type="text" required id="listName" disabled)
                            span.bar
                            label Playlist Name
                        button(id="playlistAdd" class="c-button playlist-create__btn" title="Create playlist" disabled) CREATE 
                
                ul.playlist#playlistItems
        
    script(src="dist/js/tingle.min.js" type="text/javascript")  
    script(src="dist/js/bundleCreate.js" type="text/javascript")   
