doctype html
html
  head
    title spotylist
    meta(charset="UTF-8")
    meta(name="description"  content="Create your playlist for spotify")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

    link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet")
    link(href="dist/styles/bundle.css" rel="stylesheet")
    

  body
    block content 
    

      