extends layout
  
block content    
    div.login-wrapp
        
        h2.app-logo Spotylist
        h1.login-wrapp__title
            | Your best   
            span.clr-green spotify
            |  generator and mix list
        
        p.login-wrapp__description
            | Access with your spotify user and create your playlist easily, listen to the audio tracks previously and create your playlist, now you can also choose your two favorite playlists and mix them in one click!
    
            
        a(href='/auth/spotify' class="c-button c-button--xl") Login with Spotify
