extends layout
  
block content    
    div.login-wrapp
        
        h2.app-logo Spotylist
        h1.login-wrapp__title
            | Your best   
            span spotify
            |  generator list
        
        p.login-box__description
            | Playback playlists as you want, easily find the login with your user and start all your lists, easy, accessible and comfortable. Listen to the songs before choosing the ones you like, to be able to manage your playlist as you wish, and export them easily with a single click, now with spotylist!
    
            
        a(href='/auth/spotify' class="c-button") Login with Spotify
