// -----------------------------------------------------------------------------
// Basic Styles
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
	padding: 0;
}

html {
  box-sizing: border-box;
  height:100%;
}

body {
	overflow-x: hidden;
}


/**
 * reseteo de estilos para elementos comunes
 */

ul {
	list-style:none;
}

a {
	text-decoration:none;	
	cursor:pointer;
}

button {
	background:none;
	border:none; 
	cursor:pointer;
}

/**
 * Modification native scrollbar for Chrome
 */


::-webkit-scrollbar{
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: #e0e0e050;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: #999;
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.1);
}


