// -----------------------------------------------------------------------------
// CSS Helper classes
// -----------------------------------------------------------------------------

.txt-bold {
	font-weight:700;
}

.hide {
    display:none; 
}

.rst-margin {
    margin:0;
}

    
/**
 * Colors
 */

.clr-green {
    color: $spotyGreen;
}